<p id="notice"><%= notice %></p>
<% if !current_user.nil? and current_user.id == @picture.user_id %>
	<%= link_to 'Destroy', @picture, method: :delete, data: { confirm: 'Are you sure?' } %> |
	<%= link_to 'Edit', edit_picture_path(@picture) %> |
<% end %>
<%= link_to 'Back', pictures_path %>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>
<p>
  <strong>Categories:</strong>
</p>
<p>
  Name: <%= @picture.category.name %> <br/>
</p>
<p>
  <strong>Picture:</strong>
</p>
<p>
  <%= image_tag(@picture.picture_img.url(:picture_show), class:"rounded-top style_image")%>
</p>




