<!DOCTYPE html>
<html>
  <head>
    <title>Picture Gallery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">Picture Gallery</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="<%= root_path %>" class="nav-item nav-link active">Home</a>
                <a href="<%= new_picture_path %>" class="nav-item nav-link">Add Picture</a>
                <% if @categories.present? %>
                  <div class="nav-item dropdown">
                      <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
                      <div class="dropdown-menu">
                        <% @categories.each do |category| %>
                              <a href="<%= pictures_path(category: category.name)%>" class="dropdown-item"><%= category.name.capitalize %></a>
                        <% end %>
                      </div>
                  </div>
                <% end %>
            </div>
            <div class="navbar-nav">
              <% if user_signed_in? %>
                <p class="nav-item nav-link active"><%= current_user.username %></p>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: 'nav-item nav-link active' %>
              <% else %>
                <%= link_to "Sign Up", new_user_registration_path, class: 'nav-item nav-link active' %>
                <%= link_to "Log In", new_user_session_path, class: 'nav-item nav-link active' %>
              <% end %>
            </div>
        </div>
    </nav>
    <center>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p></center>
  <div class="container">
    <%= yield %>
  </div>
  </body>
</html>